* {
	box-sizing: border-box;
}

body {
	font-family: 'Inconsolata', 'Courier New', sans-serif;
	color: #555;
	font-size: 1.4em; /* = 16pt */
}

header.search-bar {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid silver;
	background-color: #fff;
	position: fixed;
}

form#search-form {
	margin: 0 auto;
    max-width: 460px;
    padding: 0 20px;
}

input#user-search {
	width:100%;
	padding:7px;
	border-radius: 3px;
	border: none;
	border: 1px solid silver;
	letter-spacing: 1px;
}

.gallery-container {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 980px;
	margin: 0 auto;
	padding-top: 130px;
	padding-bottom: 100px;
}

.gallery-item {
	max-width: 200px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.gallery-container a img {
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	width: 200px;
}

.gallery-item a img:hover {
	box-shadow: 2px 5px 40px silver;
}

#overlay {
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	display: none;
}

#overlay img, #overlay iframe {
    margin: 0 auto 10px;
    display: block;
}

#overlay p {
	color: #fafafa;
    max-width: 600px;
    text-align: left;
    margin: 10px auto;
    padding: 0 10px;
    line-height: 1.5rem;
    font-size: 1.1rem;
}

#overlay .fa {
	cursor: pointer;
	color: white;
	margin: 0 25px;
}

#overlay #btn-close {
	display: block;
	margin-right: 10px;
	text-align: right;
}

.hide {
	margin-left: 0;
	margin-right: 0;
}

@media (min-width: 460px) {
	.gallery-container {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content:center;
		width: 460px;
	}

	.gallery-item:nth-child(even) {
		margin-left: 60px;
	}

}

@media (min-width: 720px) {

	.gallery-container {
		width: 720px;
	}

	.gallery-item {
		margin-left: 60px;
	}

	.gallery-item:nth-child(3n+1) {
		margin-left: 0;
	}

}


@media (min-width: 980px) {

	.gallery-container {
		width: 980px;
	}

	.gallery-item, .gallery-item:nth-child(3n+1) {
		margin-left: 60px;
	}

	.gallery-item:nth-child(4n+1) {
		margin-left: 0;
	}

	#overlay img {
		margin-top: 3%;
	}

}



@media (orientation: landscape) {


	#overlay img {
		height: 68vh;
	}

	#overlay iframe {
		width: 65vw;
    	height: 36.5625vw;
	}


}

@media (orientation: landscape) and (min-width: 800px) {


	#btn-prev {
		left: 7vw;
	    top: 45vh;
	    position: absolute;
	}

	#btn-next {
		right: 7vw;
	    top: 45vh;
	    position: absolute;
	}
}


@media (orientation: portrait) {


	#overlay img {
		width: 100vw;
		height: auto;
	}

	#overlay iframe {
		width: 100vw;
	  	height: 56.25vw;
	}
}
